@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../Assets/image/maintheme.jpg");
    background-position: center;
    background-size: cover;
    color: #f6f7e0;
    overflow-x: hidden;
    text-shadow: 2px 2px 8px #000;
    width: 100vw;
}
.headingContainer{
    background: linear-gradient(to bottom, transparent , #1111118f 60%, transparent);


}
main{
    display: flex;
    justify-content: center;
}
.navbar {
    font-family: "Almendra Display", serif;
    font-weight: bold;
    margin: 40px;
}

.headingContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.intro_para {
    font-size: 1.5rem;
    font-weight: 50;
    font-family: "Montserrat", sans-serif;
    margin: 40px;
    text-align: center;
    width: min(1000px , 100vw);
}

.welcome {
    font-size: 50px;
    font-weight: 50;
    font-family: "MedievalSharp", sans-serif;
    color: whitesmoke;
}


.category {
    display: flex;
    justify-content: space-evenly;
    padding: 6rem;
    width: 100vw;
    flex-wrap: wrap;
}


.category-btn {
    background-color: transparent;
    color: rgb(7, 7, 7);
    border: none;
    position: relative;
    transition: 180ms;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #ffffff1a;
        transition: 0.5s;
        pointer-events: none;
    }

    &:hover:before {
        left: -50%;
        transform: skewX(-5deg);
    }

    & img {
        width: max(150px, 15svw);
    }

    & p {
        position: absolute;
        bottom: 12%;
        width: 100%;
        color: white;
        font-size: 2rem;

    }

    &:hover {
        transform: rotateX(15deg) rotateY(-15deg);
        box-shadow: 2px 2px 24px 3px #ffffff;
        background-color: rgba(6, 6, 34, 0.295);
        backdrop-filter: blur(10px);
        animation: border_animation linear infinite;
    }
}

.category_link {
    font-family: "Almendra Display", serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
@media (max-width: 1600px) {
    .category-btn p{
        font-size: 1.5rem;
    }
}
@media (max-width: 1024px) {
    .category{
        padding: 0;
        padding-top: 3rem;
    }
    .category-btn p{
        font-size: 1rem;
    }
}