@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../Assets/image/wp3067422-harry-potter-hd-wallpapers.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Almendra Display", serif;
    color: #f0e6d2; 
    text-shadow: 2px 2px 8px #000; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}




.heading {
    color: #ffeb3b; 
    font-size: 100px;
    text-align: center;
    text-shadow: 3px 3px 10px #000, 0 0 20px #ffeb3b, 0 0 30px #ffeb3b; 
    animation: flicker 3s infinite; 
}

@keyframes flicker {
    0% { text-shadow: 3px 3px 10px #000, 0 0 20px #ffeb3b, 0 0 30px #ffeb3b; }
    50% { text-shadow: 3px 3px 10px #000, 0 0 30px #ffeb3b, 0 0 40px #ffeb3b; }
    100% { text-shadow: 3px 3px 10px #000, 0 0 20px #ffeb3b, 0 0 30px #ffeb3b; }
}


.main_button {
    height: 35px;
    width: 100px;
    background-color: yellow;
    border: none;
    z-index: 1000;
   
}

.main_page_anchor {
    text-decoration: none;
    color: rgb(23, 22, 22);
    font-family: "Almendra Display", serif;
    font-weight: bold;
    font-size: larger;
}
